<!DOCTYPE html>
<html>
    <head>
        you can use Render instead of send in app.get
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    </head>
    <body>
        <h2>
            <%= 2+2 %>
        </h2>
        
    </body>
</html>